$global-text: #323232;
$nav-background: #323232;
$footer-background: #323232;
$primary-CTA: #323232;
$primary-CTA--hover: #0065AD;
$about-background: #FFFFFF;
$gallery-background:#FAFAFA;
$text-field-background: #FAFAFA;
$text-field-border: #E1E1E1;
$text-label-style: #AFAFAF;