@import "variables";

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin tablet-padding {
    padding: 0 1rem;
}

@mixin desktop-padding {
    padding: 0 3rem;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin column-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin column-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}