/*breakpoints*/
/*paddings*/
/*flex orientations*/
/*standard typography*/
/*bigger screen sizes typography*/
@font-face {
  font-family: 'Avenir Next';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next Demi Bold';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
  font-weight: 900;
}

/*globals*/
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
}

/*navigation*/
.nav-bar {
  background-color: #323232;
  width: 100%;
  height: 80px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .nav-bar {
    padding-left: 180px;
  }
}

.nav-bar__logo {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav-bar__logo {
    height: 100%;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .nav-bar__logo {
    width: 15%;
  }
}

.nav-bar__logo-image {
  height: 1.25rem;
}

.nav-bar__anchor {
  color: #E1E1E1;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__anchor--active {
  color: #FFFFFF;
}

.nav-bar__list {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .nav-bar__list {
    height: 100%;
    width: 33%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .nav-bar__list {
    width: 25%;
    padding-left: 28px;
  }
}

.nav-bar__list .nav-bar__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar__list .nav-bar__item--active {
  border-bottom: solid 3px #FFFFFF;
}

/*title*/
.page-title {
  width: 100%;
  height: 183px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/assets/images/landing-image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/landing-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .page-title {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .page-title {
    height: 670px;
  }
}

.page-title__text {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .page-title__text {
    font-size: 36px;
    line-height: 44px;
    padding-left: 24px;
  }
}

@media (min-width: 1200px) {
  .page-title__text {
    font-size: 60px;
    line-height: 68px;
    padding-left: 180px;
  }
}

/*about*/
.about {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .about {
    padding: 0 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 0 180px;
    padding-bottom: 48px;
  }
}

.about__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 24px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .about__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .about__title {
    margin: 48px 0px;
  }
}

.about__info {
  width: 100%;
  height: 50%;
}

@media (min-width: 768px) {
  .about__info {
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .about__info {
    width: 75%;
    height: 37.5%;
  }
}

.about__image-container {
  width: 100%;
}

.about__image-container .about-image {
  width: 100%;
  height: 50%;
}

@media (min-width: 768px) {
  .about__image-container .about-image {
    height: 33%;
  }
}

.about__quote {
  font-family: "Avenir Next Bold";
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .about__quote {
    font-size: 16px;
    line-height: 24px;
  }
}

.about__quote-author {
  font-family: "Avenir Next Demi Bold";
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .about__quote-author {
    font-family: "Avenir Next";
    font-size: 14px;
    line-height: 21px;
  }
}

.about__article {
  width: 100%;
}

.about__article-title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Avenir Next Bold";
}

@media (min-width: 768px) {
  .about__article-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .about__article-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__article-paragraph__text {
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .about__article-paragraph__text {
    font-size: 14px;
    line-height: 21px;
  }
}

/*photo gallery*/
.photo-gallery {
  width: 100%;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .photo-gallery {
    padding: 0 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery {
    padding: 0 180px;
    padding-bottom: 48px;
  }
}

.photo-gallery__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 24px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .photo-gallery__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery__title {
    margin: 48px 0px;
  }
}

.photo-gallery__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1200px) {
  .photo-gallery__container {
    width: 1120px;
  }
}

.photo-gallery__image {
  width: 288px;
  height: 145px;
  display: inline-block;
  margin: 8px;
}

@media (min-width: 768px) {
  .photo-gallery__image {
    width: 224px;
    height: 126px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery__image {
    width: 344px;
    height: 193px;
  }
}

/*join the conversation*/
.join-convo {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .join-convo {
    padding: 0 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .join-convo {
    padding: 0 180px;
    padding-bottom: 48px;
  }
}

.join-convo__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 24px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .join-convo__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .join-convo__title {
    margin: 48px 0px;
  }
}

.join-convo__comments {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .join-convo__comments {
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .join-convo__comments {
    width: 75%;
    height: 37.5%;
  }
}

.join-convo__comments .comment-form {
  border-bottom: solid 2px #E1E1E1;
  margin: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.join-convo__comments .comment-form__image {
  height: 48px;
  width: 48px;
  border-radius: 25px;
  background-color: #E1E1E1;
}

.join-convo__comments .comment-form .form {
  margin-left: 16px;
}

.join-convo__comments .comment {
  border-bottom: solid 2px #E1E1E1;
  margin: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.join-convo__comments .comment__image {
  height: 48px;
  width: 48px;
  border-radius: 25px;
  background-color: #E1E1E1;
}

.join-convo__comments .comment__text {
  margin-left: 8px;
}

.join-convo__comments .comment__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
}

.join-convo__comments .comment__timestamp {
  color: #E1E1E1;
  font-weight: 100;
}

.join-convo__comments .comment__paragraph {
  margin: 16px 0px;
  font-size: 13px;
  line-height: 18px;
}

/*footer*/
.footer {
  background-color: #323232;
  color: white;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 0 180px;
    padding-bottom: 48px;
  }
}

.footer-container {
  padding: 8px 0px;
}

@media (min-width: 768px) {
  .footer-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__title {
  font-family: "Avenir Next Bold";
  margin: 24px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .footer__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .footer__title {
    margin: 48px 0px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (min-width: 768px) {
  .footer__socials {
    width: 25%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .footer__socials {
    margin-top: 56px;
  }
}

.footer__contact {
  padding: 8px 0px;
}

@media (min-width: 768px) {
  .footer__contact {
    padding: 16px 0px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .footer__contact {
    padding: 40px 0px;
    padding-right: 40px;
  }
}

.footer__contact-title {
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .footer__contact-title {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer__contact-info {
  color: #E1E1E1;
  padding: 8px 0px;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__contact-info {
    font-size: 12px;
    line-height: 20px;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .footer__logo {
    margin-top: 60px;
  }
}

.footer .copyright {
  color: #E1E1E1;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer .copyright {
    font-size: 12px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=main.css.map */