/*breakpoints*/
/*general paddings*/
/*flex orientations*/
/*standard typography*/
/*bigger screen sizes typography*/
@font-face {
  font-family: 'Avenir Next';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next Demi Bold';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url("/assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
  font-weight: 900;
}

/*globals*/
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
}

/*navigation*/
.nav-bar {
  background-color: #323232;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .nav-bar {
    padding-left: 180px;
  }
}

.nav-bar__logo {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav-bar__logo {
    width: 25%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .nav-bar__logo {
    width: 15%;
  }
}

.nav-bar__logo__image {
  height: 1.25rem;
}

.nav-bar__anchor {
  color: #E1E1E1;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__anchor:hover {
  color: #323232;
}

.nav-bar__anchor--active {
  color: #FFFFFF;
}

.nav-bar__list {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .nav-bar__list {
    width: 33%;
    height: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .nav-bar__list {
    width: 25%;
    padding-left: 28px;
  }
}

.nav-bar__list__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar__list__item:hover {
  background-color: #FFFFFF;
}

.nav-bar__list__item--active {
  border-bottom: solid 3px #FFFFFF;
}

.nav-bar__list__item--active:hover {
  border-bottom: solid 3px #8B0000;
}

/*title*/
.page-title {
  width: 100%;
  height: 183px;
  margin-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/assets/images/landing-image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/landing-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .page-title {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .page-title {
    height: 670px;
  }
}

.page-title__text {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .page-title__text {
    font-size: 36px;
    line-height: 44px;
    margin-left: 24px;
  }
}

@media (min-width: 1200px) {
  .page-title__text {
    font-size: 60px;
    line-height: 68px;
    margin-left: 180px;
  }
}

/*about*/
.about {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .about {
    padding: 24px 24px;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 24px 180px;
  }
}

.about__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    margin: 16px 0px;
  }
}

@media (min-width: 1200px) {
  .about__title {
    margin: 24px 0px;
  }
}

.about__info {
  width: 100%;
  height: 50%;
  margin: 24px 0px;
}

@media (min-width: 768px) {
  .about__info {
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .about__info {
    width: 75%;
    height: 37.5%;
  }
}

.about__image-container {
  width: 100%;
}

.about__image-container .about__image {
  width: 100%;
  height: 50%;
}

@media (min-width: 768px) {
  .about__image-container .about__image {
    height: 33%;
  }
}

.about__quote {
  font-family: "Avenir Next Demi Bold";
  width: 100%;
  margin: 16px 0px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .about__quote {
    font-family: "Avenir Next Demi Bold";
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0px;
  }
}

@media (min-width: 1200px) {
  .about__quote {
    font-size: 22px;
    /*pixel perfect correct*/
    margin: 48px 0px;
  }
}

.about__quote__author {
  font-family: "Avenir Next Demi Bold";
  font-size: 12px;
  line-height: 20px;
  margin: 16px 0px;
}

@media (min-width: 768px) {
  .about__quote__author {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 20px 0px;
  }
}

.about__article {
  width: 100%;
  margin: auto;
}

.about__article__title {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi Bold";
  margin-top: 32px;
}

@media (min-width: 768px) {
  .about__article__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.about__article__paragraph {
  margin: 16px 0px;
}

@media (min-width: 768px) {
  .about__article__paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__article__paragraph__text {
  font-size: 13px;
  line-height: 18px;
  margin: 8px 0px;
}

@media (min-width: 768px) {
  .about__article__paragraph__text {
    font-size: 14px;
    line-height: 21px;
    margin-right: 24px;
  }
}

@media (min-width: 1200px) {
  .about__article__paragraph__text {
    margin-right: 40px;
  }
}

/*photo gallery*/
.photo-gallery {
  width: 100%;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .photo-gallery {
    padding: 24px 24px;
    padding-bottom: 16px;
    /*pixel perfect correct*/
  }
}

@media (min-width: 1200px) {
  .photo-gallery {
    padding: 24px 180px;
    padding-bottom: 40px;
  }
}

.photo-gallery__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .photo-gallery__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery__title {
    margin: 48px 0px;
  }
}

.photo-gallery__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1200px) {
  .photo-gallery__container {
    width: 1120px;
  }
}

.photo-gallery__image {
  width: 288px;
  height: 145px;
  display: inline-block;
  margin: 16px 0px;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.photo-gallery__image:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (min-width: 768px) {
  .photo-gallery__image {
    width: 224px;
    height: 126px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery__image {
    width: 344px;
    height: 193px;
  }
}

/*join the conversation*/
.join-convo {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .join-convo {
    padding: 24px 24px;
    margin-bottom: 16px;
    /*pixel perfect correct*/
  }
}

@media (min-width: 1200px) {
  .join-convo {
    padding: 24px 180px;
    margin-bottom: 32px;
  }
}

.join-convo__title {
  font-family: "Avenir Next Bold";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .join-convo__title {
    margin: 32px 0px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .join-convo__title {
    margin: 48px 0px;
  }
}

.join-convo__comments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-convo__comments .comment__form-container {
  border-bottom: solid 2px #E1E1E1;
  margin: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 296px;
}

@media (min-width: 768px) {
  .join-convo__comments .comment__form-container {
    width: 412px;
  }
}

@media (min-width: 1200px) {
  .join-convo__comments .comment__form-container {
    width: 528px;
  }
}

.join-convo__comments .comment__form-container .comment__form__image {
  height: 48px;
  width: 48px;
  border-radius: 25px;
}

.join-convo__comments .comment__form-container .comment__form--input {
  width: 100%;
  margin-left: 16px;
}

@media (min-width: 1200px) {
  .join-convo__comments .comment__form-container .comment__form--input {
    width: 75%;
    margin-left: 20px;
    /*as per the mockup*/
  }
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form {
  width: 100%;
  color: #E1E1E1;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .join-convo__comments .comment__form-container .comment__form--input .add__comment__form {
    font-size: 12px;
    line-height: 20px;
  }
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form input.username {
  margin: 4px 0px;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding: 5px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form #username::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir Next";
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form #username:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir Next";
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form #username::-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir Next";
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form #username::placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir Next";
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .comment__content {
  width: 100%;
  margin: 4px 0px;
  padding: 5px;
  font-family: "Avenir Next";
  border: 1px solid #E1E1E1;
  border-radius: 5px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .comment__content::-webkit-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .comment__content:-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .comment__content::-ms-input-placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .comment__content::placeholder {
  color: #323232;
  font-size: 12px;
  line-height: 20px;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .submit-container {
  margin: 8px 0px 16px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-convo__comments .comment__form-container .comment__form--input .add__comment__form .submit-container .button {
  width: 100%;
  margin-top: 24px;
  background: #323232;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 15px 5px;
  cursor: pointer;
}

.join-convo__comments .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.join-convo__comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: solid 2px #E1E1E1;
  margin: 16px 0px;
  width: 296px;
}

@media (min-width: 768px) {
  .join-convo__comments .comment {
    width: 412px;
  }
}

@media (min-width: 1200px) {
  .join-convo__comments .comment {
    width: 528px;
  }
}

.join-convo__comments .comment__image {
  height: 48px;
  width: 48px;
  border-radius: 25px;
}

.join-convo__comments .comment__text {
  margin-left: 8px;
}

.join-convo__comments .comment__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .join-convo__comments .comment__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.join-convo__comments .comment__name {
  font-size: 13px;
  line-height: 18px;
}

.join-convo__comments .comment__timestamp {
  color: #E1E1E1;
  font-weight: 100;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .join-convo__comments .comment__timestamp {
    margin-left: 16px;
  }
}

.join-convo__comments .comment__paragraph {
  margin: 16px 0px;
  font-size: 13px;
  line-height: 18px;
}

.join-convo .remove-container {
  margin: 8px 0px 16px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.join-convo .remove-container .remove-button {
  width: 100%;
  margin-top: 24px;
  background: #FFFFFF;
  color: #323232;
  border: none;
  /*TEST*/
  border-radius: 2px;
  padding: 15px 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 40px 32px -4px #000000;
          box-shadow: 0px 40px 32px -4px #000000;
}

/*footer*/
.footer {
  width: 100%;
  background-color: #323232;
  color: white;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 24px 180px;
  }
}

.footer .footer-container {
  margin: 24px 0px;
}

@media (min-width: 768px) {
  .footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer .footer-container {
    margin: 32px 0px;
  }
}

.footer__title {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 16px 0px;
}

@media (min-width: 768px) {
  .footer__socials {
    width: 25%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0px 16px;
  }
}

.footer__contact {
  margin: 24px 0px;
}

@media (min-width: 768px) {
  .footer__contact {
    margin-right: 32px;
  }
}

@media (min-width: 1200px) {
  .footer__contact {
    margin-right: 40px;
    margin-bottom: 0px;
    /*pixel perfect spacing correct inbetween contact and copyright*/
  }
}

.footer__contact__title {
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .footer__contact__title {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer__contact__info {
  color: #E1E1E1;
  margin: 8px 0px;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__contact__info {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (min-width: 1200px) {
  .footer__contact__info {
    margin: 16px 0px;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 100%;
    margin-top: 32px;
  }
}

@media (min-width: 1200px) {
  .footer__logo {
    position: static;
  }
}

.footer .copyright {
  color: #E1E1E1;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer .copyright {
    font-size: 12px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=main.css.map */