@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/colours';
@import 'partials/variables';

/*globals*/
*, html {
    @include reset;
}

body {
    font-family: $global-font;
}
 
/*navigation*/
.nav-bar {
    background-color: $nav-background;
    width: 100%;
    height: 80px;
    top: 0;
    @include column-flex-center;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }

    @include desktop {
        padding-left: 180px;
    }

    &__logo {
        width: 100%;
        height: 50%;
        @include flex-center;

        @include tablet {
            height: 100%;
            width: 25%;
        }

        @include desktop {
            width: 15%;
        }
    
        &-image {
            height: 1.25rem;
        }
    }

    &__anchor {
        color: #E1E1E1;
        text-decoration: none;
        @include flex-center;

        &--active {
            color: #FFFFFF;
        }
    }

    &__list {
        width: 100%;
        height: 50%;
        display: flex; 
        justify-content: space-evenly;

        @include tablet {
            height: 100%;
            width: 33%;
            align-self: flex-end;
        }

        @include desktop {
            width: 25%;
            padding-left: 28px;
        }
    
        .nav-bar__item {
            width: 50%;
            display: flex;
            justify-content: center;

            &--active {
                border-bottom: solid 3px #FFFFFF;
            }
        }    
    }  
}

/*title*/
.page-title {
    width: 100%;
    height: 183px;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
    url('/assets/images/landing-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    align-items: center;

    @include tablet {
        height: 400px;
    }

    @include desktop {
        height: 670px;
    }

    &__text {
        font-family: $global-font__bold;
        color: #FFFFFF;
        @include flex-center;
        @include h1-text-style;

        @include tablet {
            @include tablet-h1-text;
            padding-left: 24px;
        }
    
        @include desktop {
            @include desktop-hero-text;
            padding-left: 180px;
        }
    }
}
 
/*about*/
.about {
    width: 100%;
    background-color: $about-background;
    @include column-flex-center;
    @include standard-padding;
    padding-bottom: 16px;

    @include tablet {
        @include tablet-padding;
        padding-bottom: 24px;
    }

    @include desktop {
        @include desktop-padding;
        padding-bottom: 48px;
    }

    &__title {
        font-family: $global-font__bold;
        align-self: flex-start;
        margin: 24px 0px;
        @include h1-text-style;
        
        @include tablet {
            margin: 32px 0px;
            @include tablet-h1-text;
        }

        @include desktop {
            margin: 48px 0px;
        }
    }

    &__info {
        width: 100%;
        height: 50%;
  
        @include tablet {
            height: 50%;
        }
    
        @include desktop {
            width: 75%;
            height: 37.5%;
        }   
    }

    &__image-container {
        width: 100%;

        .about-image {
            width: 100%;
            height: 50%;
      
            @include tablet {
                height: 33%;
            }
        }
    }
    
    &__quote {
        font-family: $global-font__bold;
        width: 100%;
        @include h3-text-style;
       
        @include tablet {
            @include tablet-h3-text;
        }

        &-author {
            font-family: $global-font__demi-bold;
            @include h4-text-style;

            @include tablet {
                font-family: $global-font;
                @include tablet-h4-text;
                }
        }
    }
    
    &__article {
        width: 100%;

        &-title {
            @include h3-text-style;
            font-family: $global-font__bold;

            @include tablet {
                @include tablet-h3-text;
          
            }
        }

        &-paragraph {
      
            @include tablet {
                display: flex; 
                flex-direction: row;
                justify-content: space-between;
            }

            &__text {
                @include h4-text-style;
    
                @include tablet {
                    @include tablet-h4-text;
                }
            }
        }
    }
}

/*photo gallery*/
.photo-gallery {
    width: 100%;
    background-color: $gallery-background;
    @include column-flex-center;
    @include standard-padding;
    padding-bottom: 16px;

    @include tablet {
        @include tablet-padding;
        padding-bottom: 24px;
    }

    @include desktop {
        @include desktop-padding;
        padding-bottom: 48px;
    }

    &__title {
        font-family: $global-font__bold;
        align-self: flex-start;
        margin: 24px 0px;
        @include h1-text-style;
        
        @include tablet {
            margin: 32px 0px;
            @include tablet-h1-text;
        }

        @include desktop {
            margin: 48px 0px;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        @include desktop {
            width: 1120px;
        }
    }
    
    &__image {
        width: 288px;
        height: 145px;
        display: inline-block;
        margin: 8px;

        @include tablet {
            width: 224px;
            height: 126px;
        }

        @include desktop {
            width: 344px;
            height: 193px;
        }
    }
}

/*join the conversation*/
.join-convo {
    width: 100%;
    background-color: $about-background;
    @include column-flex-center;
    @include standard-padding;
    padding-bottom: 16px;

    @include tablet {
        @include tablet-padding;
        padding-bottom: 24px;
    }

    @include desktop {
        @include desktop-padding;
        padding-bottom: 48px;
    }

    &__title {
        font-family: $global-font__bold;
        align-self: flex-start;
        margin: 24px 0px;
        @include h1-text-style;
        
        @include tablet {
            margin: 32px 0px;
            @include tablet-h1-text;
        }

        @include desktop {
            margin: 48px 0px;
        }
    }

    &__comments {
        width: 100%;
        height: 50%;
        @include column-flex-center;

        @include tablet {
            height: 50%;
        }
    
        @include desktop {
            width: 75%;
            height: 37.5%;
        }   

        .comment-form {
            border-bottom: solid 2px #E1E1E1;
            margin: 16px 0px;
            display: flex;
            flex-direction: row;

            &__image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
                background-color: #E1E1E1;
            }

            .form {
                margin-left: 16px;
                
            }
        }

        .comment {
            border-bottom: solid 2px #E1E1E1;
            margin: 16px 0px;
            display: flex;
            flex-direction: row;

            &__image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
                background-color: #E1E1E1;
            }

            &__text {
                margin-left: 8px;
            }

            &__name {
                display: flex;
                justify-content: space-between;
                @include h4-text-style;

            }

            &__timestamp {
                color: #E1E1E1;
                font-weight: 100;   
            }

            &__paragraph {
                margin: 16px 0px;
                @include h4-text-style;
                
            }
        }
    }
}

/*footer*/
.footer {
    background-color: $footer-background;
    color: white;
    bottom: 0;
    @include column-flex-center;
    @include standard-padding;
    padding-bottom: 16px;

    @include tablet {
        @include tablet-padding;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 24px;
    }

    @include desktop {
        @include desktop-padding;
        padding-bottom: 48px;
    }

    &-container {
        padding: 8px 0px;
    
        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }
    
    &__title {
        font-family: $global-font__bold;
        margin: 24px 0px;
        @include h1-text-style;
        
        @include tablet {
            margin: 32px 0px;
            @include tablet-h1-text;
        }

        @include desktop {
            margin: 48px 0px;
        }
    }
    
    &__socials {
        display: flex;
        justify-content: space-between;
        width: 50%;

        @include tablet {
            width: 25%;
            justify-content: space-evenly;
            margin-top: 40px;
        }

        @include desktop {
            margin-top: 56px;
        }

        &-anchor {
        }

        &-image {
        }
    }
    
    &__contact {
        padding: 8px 0px;

        @include tablet {
            padding: 16px 0px;
            padding-right: 32px;
        }
        
        @include desktop {
            padding: 40px 0px;
            padding-right: 40px;
        }
    
        &-title {
            @include h4-text-style;
            
            @include tablet {
                @include tablet-h4-text;
            }
        }
    
        &-info {
            color: #E1E1E1;
            padding: 8px 0px;
            @include h5-text-style;
            @include tablet {
                @include tablet-h5-text;
            }
        }
    }

    &__logo {
        display: none;

        @include tablet {
            height: 100%;
            display: flex;
            align-self: flex-start;
            margin-top: 48px;
        }

        @include desktop {
            margin-top: 60px;
        }

        &-image {
        }
    }
    
    .copyright {
        color: #E1E1E1;
        @include h5-text-style;
        @include tablet {
            @include tablet-h5-text;
        }
    }
}