@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/colours';
@import 'partials/variables';

/*globals*/
*, html {
    @include reset;
}

body {
    font-family: $global-font;
}
 
/*navigation*/
.nav-bar {
    background-color: $nav-background;
    width: 100%;
    height: 80px;
    top: 0;
    position: fixed;
    z-index: 1;
    @include column-flex-center;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }

    @include desktop {
        padding-left: 180px;
    }

    &__logo {
        width: 100%;
        height: 50%;
        @include flex-center;

        @include tablet {
            width: 25%;
            height: 100%;
        }

        @include desktop {
            width: 15%;
        }
    
        &__image {
            height: 1.25rem;
        }
    }

    &__anchor {
        color: #E1E1E1;
        text-decoration: none;
        @include flex-center;
        
        &:hover {
            color: #323232;
        }

        &--active {
            color: #FFFFFF;
        }
    }

    &__list {
        width: 100%;
        height: 50%;
        display: flex; 
        justify-content: space-evenly;

        @include tablet {
            width: 33%;
            height: 100%;
            align-self: flex-end;
        }

        @include desktop {
            width: 25%;
            padding-left: 28px;
        }
    
        &__item {
            width: 50%;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: #FFFFFF;
            }

            &--active {
                border-bottom: solid 3px #FFFFFF;

                &:hover {
                    border-bottom: solid 3px #8B0000;
                }
            }  
        }    
    }  
}

/*title*/
.page-title {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
    url('/assets/images/shows-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include column-flex-center;

    @include tablet {
        height: 400px;
        padding: 0px 32px;
        align-items: flex-start;
    }

    @include desktop {
        height: 670px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        @include column-flex-start;

        &--top {
            font-family: $global-font__bold;
            color: #FFFFFF;
            @include flex-center;
            @include h2-text-style;

            @include tablet {
                @include tablet-h2-text; 
            }
        }

        &--bottom {
            font-family: $global-font__bold;
            color: #FFFFFF;
            margin: 16px 0px;
            @include flex-center;
            @include h1-text-style;

            @include tablet {
                margin: 32px 0px;
                @include tablet-h1-text;
            
            }
        
            @include desktop {
                margin: 48px 0px;
                @include desktop-hero-text;
            
            }
        }
    }
}

/*shows*/
.shows {
    width: 100%;
    background-color: #FFFFFF;
    @include column-flex-center;
    @include standard-padding;

    @include tablet {
        @include tablet-padding;
        margin-bottom: 16px; /*pixel perfect correct*/
    }

    @include desktop {
        @include desktop-padding;
        margin-bottom: 32px;
    }

    &__title {
        font-family: $global-font__bold;
        align-self: flex-start;
        margin: 8px 0px;
        @include h1-text-style;
        
        @include tablet {
            margin: 32px 0px;
            @include tablet-h1-text;
        }

        @include desktop {
            margin: 48px 0px;
        }
    }

    &__table {
        width: 100%;
        height: 50%;
  
        @include tablet {
            height: 50%;
        }
    
        @include desktop {
            width: 75%;
            height: 37.5%;
        }   

        .table{
            flex-basis: 75%;

            .row {
                display: flex;
                align-items: center;

                .column{
                    flex-basis: 25%
                }
            }

            .row-title {
                display: none;
                color: #E1E1E1;
                @include tablet {
                display: flex;
                @include h4-text-style;
                font-weight: normal;
                text-transform: uppercase;
                }
            }

            .data {
                .row {
                    display: block;
                    align-items: center;
                    border-bottom: 1px solid #E1E1E1;
                    @include tablet{
                        display: flex;
                    }
                    .column {
                        @include h4-text-style;
                        margin: 16px 0px;
                        text-align: left;
                        flex-basis: 25%;

                        @include tablet {
                            @include tablet-h4-text;
                            margin-right: 16px;
                        }

                        @include desktop {
                            margin-right: 24px;
                        }

                        .title{
                            @include h4-text-style;
                            color: #E1E1E1;
                            font-weight: normal;
                            text-transform: uppercase;
                            display: block;
                            margin: 8px 0px;
                            @include tablet{
                                display: none;
                            }
                        }

                        .action{
                            text-align: center;
                            .button {
                                background-color: #323232;
                                color: #FFFFFF;
                                padding: 10px 0px;
                                cursor: pointer;
                                border-radius: 4px;
                                width: 75%;
                                @include tablet {
                                    width: 160px;
                                    padding: 10px 20px;
                                }
                            }

                            .button:hover {
                                background-color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*footer*/
.footer {
    width: 100%;
    background-color: $footer-background;
    color: white;
    bottom: 0;
    @include column-flex-center;
    @include standard-padding;

    @include tablet {
        @include tablet-padding;
        flex-direction: row;
        justify-content: space-around;
    }

    @include desktop {
        @include desktop-padding;
    }

    &__mobile-first {
        @include tablet {
        }
    }

    .footer-container {
        margin: 24px 0px;
    
        @include tablet {
            display: flex;
            flex-direction: row;
        }

        @include desktop {
            margin: 32px 0px;
        }
    }
    
    &__title {
        font-family: $global-font__bold;
        @include h1-text-style;
        
        @include tablet {
            @include tablet-h1-text;
        }

        @include desktop {
        }
    }
    
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 16px 0px;

        @include tablet {
            width: 25%;
            justify-content: space-evenly;
            margin: 0px 16px;
        }
    }
    
    &__contact {
        margin: 24px 0px;

        @include tablet {
            margin-right: 32px;
        }
        
        @include desktop {
            margin-right: 40px;
            margin-bottom: 0px; /*pixel perfect spacing correct inbetween contact and copyright*/
        }
    
        &__title {
            @include h4-text-style;
            
            @include tablet {
                @include tablet-h4-text;
            }
        }
    
        &__info {
            color: #E1E1E1;
            margin: 8px 0px;
            @include h5-text-style;
            @include tablet {
                @include tablet-h5-text;
            }
            @include desktop {
                margin: 16px 0px;
            }
        }
    }

    &__logo {
        display: none;

        @include tablet {
            display: flex;
            align-self: flex-start;
            height: 100%;
            margin-top: 32px;
        }

        @include desktop {
            position: static;
        }
    }
    
    .copyright {
        color: #E1E1E1;
        @include h5-text-style;
        @include tablet {
            @include tablet-h5-text;
        }
    }
}